* {
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

body {
    background: rgb(222,187,213);
    background: linear-gradient(180deg, rgba(210,171,224,1) 0%, rgba(231,119,212,1) 50%, rgba(210,171,224,1) 99%);
    min-height: 90vh;
}

.up {
    border: 1px solid;
    border-radius: 10px;
    max-width: 500px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
p {
    margin: 5px;

}
label {
    margin: 5px;
}
span {
    margin-left: 5px;
}
.mid_up,.mid_daun {
    border: 1px solid;
    border-radius: 10px;
    max-width: 500px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.mid_daun {
    margin-bottom: 20px;
}

select {
    background: rgba(0,0,0,0);
    border: 1px solid;
    border-radius: 5px;
}

input, button {
    border-radius: 5px;
    border: 1px solid;
    background: rgba(0,0,0,0);
    padding: 3px 5px;
    margin-right: 10px;
}

.bottom {
    display: flex;

}

.showAll_link{
    border-radius: 5px;
    border: 1px solid;
    background: rgba(0,0,0,0);
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.showAll_h2 {
    margin-left: 10px;
}

.showAll_div {
    margin-left: 20px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}