<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${author.getName()}"></title>
</head>
<body>
<h3 th:text="${author.getName()}">Имя автора</h3>

<div th:switch="${books.isEmpty()}">
    <p th:case="true"><em>У автора нет книг</em></p>
    <div th:case="false">
        <hr>
        <p>Книги:</p>
         <div th:each="book : ${books}">
             <a th:href="@{/books/{id} (id=${book.getId()})}" th:text="${book.getTitle()} + ', ' + ${book.getYear()}">Книга, год</a>
         </div>
    </div>
</div>

<hr>
<a th:href="@{/authors/{id}/edit (id=${author.getId()})}">
  <button>Редактировать</button>
</a>
<br>
<form th:method="DELETE" th:action="@{/authors/{id}(id=${author.getId()})}">
  <button>Удалить</button>
</form>
<div style="accent-color: red" th:if="${errors}">
    <p th:text="${errors}"></p>
</div>
</body>
</html>