<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${reader.getName()}"></title>
    <link rel="stylesheet" href="../css/show.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&display=swap" rel="stylesheet">
</head>
<body>
<p th:text="${reader.getName()} + ', ' + ${reader.getBirth_year()}" class="title">Имя читателя, год рождения</p>

<div th:switch="${books.isEmpty()}">
    <p th:case="true" class="pre_no"><em class="no_books">Читатель пока не взял ни одной книги</em></p>
    <div th:case="false" class="books_div">
        <h3 class="books">Книги:</h3>
        <div th:each="book : ${books}" class="books_years">
            <a th:href="@{/books/{id} (id=${book.getId()})}" th:text="${book.getTitle()} + ', ' + ${book.getAuthor().getName()} + ', '+ ${book.getYear()}" class="years">Книга</a>
        </div>
    </div>
</div>



<div class="buttons">
    <a th:href="@{/readers/{id}/edit (id=${reader.getId()})}">
        <button class="but_1">Редактировать</button>
    </a>

    <form th:method="DELETE" th:action="@{/readers/{id}(id=${reader.getId()})}">
        <button class="but_2">Удалить</button>
    </form>

    <div style="accent-color: red" th:if="${errors}">
        <p th:text="${errors}"></p>
    </div>
</div>

</body>
</html>